household_power_consumption.txt
.Rproj.user/2A2C472B/sdb/s-69230F5F/lock_file
*.Rhistory
*.pper
.Rproj.user/2A2C472B/persistent-state
*.Rproj
.Rproj.user/2A2C472B/sdb/per/t/A5294985
.Rproj.user/2A2C472B/sdb/per/t/CA0FE68F
.Rproj.user/2A2C472B/sdb/prop/B02390A4
.Rproj.user/2A2C472B/sdb/prop/INDEX
.Rproj.user/2A2C472B/sdb/per/t/E27A9B73
.Rproj.user/2A2C472B/sdb/per/t/F72E17DC
.Rproj.user/2A2C472B/sdb/prop/1A4E326
.Rproj.user/2A2C472B/sdb/prop/3B7B5370
.Rproj.user/2A2C472B/sdb/prop/5623771C